body {
    background: #f79d00; 
    background: -webkit-linear-gradient(to right, #f79d00, #64f38c); 
    background: linear-gradient(to right, #f79d00, #64f38c);
	color: #111;
	font: 14px Helvetica;
	text-align: center;
}

div, h1, h2, p {
		margin: 0;
		padding: 0;
}

h1 {
	font-size: 34px;
	line-height: 1.2;
	margin-bottom: 10px;
}

h1:before {
	content: '— ';
}
			
h1:after {
	content: ' —';
}

span {
    font-size: 30px;
}

.poem { 
	margin: auto;
	padding: 150px 0;
    text-align: left;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
	line-height: 1.5;
	margin-bottom: 15px;
}